---
import { Image } from 'astro:assets';

export interface Props {
  name: string;
  image_link: string;
}
const { name, image_link } = Astro.props;
---

<div class="p-3 sm:p-5 rounded-xl border border-box-border group bg-bg-tools">
  <Image
    src={image_link}
    width={140}
    height={75}
    alt={name}
    class="h-7 sm:h-20 w-full ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
  />
</div>
