---
import Container from '../shared/Container.astro';
import Paragraph from '../shared/Paragraph.astro';
import Title from '../shared/Title.astro';
import { dataServices } from '../../lib/data/services.ts';
import Service from '../cards/Service.astro';

type ServicesProps = {
  title: string;
  description: string;
  icon: string;
};
---

<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title> Nuestros servicios </Title>
      <Paragraph>
        Diseñado para resolver problemas específicos, haciendo que las tareas de
        nuestros clientes sean aún más eficientes.
      </Paragraph>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-8">
      {
        dataServices.map((service: ServicesProps) => {
          return (
            <Service
              title={service.title}
              description={service.description}
              icon={service.icon}
            />
          );
        })
      }
    </div>
  </Container>
</section>
