---
import { Image } from 'astro:assets';
import bannerTechnology from '../../../public/images/media/technology.webp';
import Container from '../shared/Container.astro';
import Paragraph from '../shared/Paragraph.astro';
import Title from '../shared/Title.astro';
import { dataTechnology } from '../../lib/data/technologies.ts';
import Technologies from '../cards/Technologies.astro';

type TechnologyProps = {
  title: string;
};
---

<section id="technology">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title> Tus proyectos en manos expertas </Title>
      <Paragraph className="mt-8">
        Nuestros servicios son integrales y escalables, diseñados para alinearse
        perfectamente con la visión de tu proyecto.
      </Paragraph>
      <Paragraph className="mt-2">
        Quieres explorar alternativas para tus ideas, optimizar procesos o
        simplemente crear un producto digital.
      </Paragraph>
      <ul class="mt-8 space-y-4 text-heading-3 font-medium">
        {
          dataTechnology.map((technologies: TechnologyProps) => {
            return <Technologies title={technologies.title} />;
          })
        }
      </ul>
    </div>

    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full h-80 sm:h-96 midmd:h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"
        ></span>
        <Image
          class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
          src={bannerTechnology}
          alt="Banner Technology"
          width={1240}
          height={1385}
        />
      </div>
    </div>
  </Container>
</section>
