---
import Container from '../shared/Container.astro';
import Title from '../shared/Title.astro';
import { dataTools } from '../../lib/data/tools.ts';
import Tool from '../cards/Tool.astro';

type ToolsProps = {
  name: string;
  image_link: string;
};
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title> Transforma lo difícil en simple </Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      {
        dataTools.map((tools: ToolsProps) => {
          return <Tool name={tools.name} image_link={tools.image_link} />;
        })
      }
    </div>
  </Container>
</section>
