---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Tools from '../components/sections/Tools.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Technology from '../components/sections/Technology.astro';
import CTA from '../components/sections/CTA.astro';
---

<Layout title="Desarrollo de aplicaciones Web y Moviles a la medida">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Hero />
    <Tools />
    <Services />
    <AboutUs />
    <Technology />
    <CTA />
  </main>
</Layout>
