---
import { Image } from 'astro:assets';
import footerLogo from '../../../public/images/favicon.webp';
import GroupFooterNav from '../blocks/GroupFooterNav.astro';
import Container from '../shared/Container.astro';
import FooterNav from '../shared/FooterNav.astro';
import Paragraph from '../shared/Paragraph.astro';
const footerNav1 = [
  {
    itemText: '+(57) 300 246 61 43',
    itemLink: 'tel:+(57)3002466143',
  },
];

const footerSupport = [
  {
    itemText: 'Av Cra 30 # 52-77 Bogotá - Colombia',
    itemLink:
      'https://www.google.com/maps/place/Ave+Cra+30+%2352-77,+Bogot%C3%A1/@4.6423294,-74.0798098',
  },
];

const footerCompany = [
  {
    itemText: 'info@okappi.com.co',
    itemLink: 'mailto:info@okappi.com.co',
  },
];
---

<div class="mt-16"></div>
<footer
  class="relative bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl"
>
  <div class="absolute right-0 top-0 h-full w-full flex justify-end">
    <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
      <span
        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
      ></span>
    </div>
  </div>

  <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
    <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
      <span
        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
      ></span>
    </div>
  </div>
  <Container className="pb-20 relative overflow-auto">
    <span
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 blur-2xl opacity-20 w-24 h-16 sm:w-48 sm:h-36 rounded-full rotate-12 skew-x-6 bg-primary"
    ></span>
    <div
      class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative"
    >
      <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
        <div class="h-full">
          <a href="#" class="relative flex items-center gap-3">
            <div class="relative w-7 h-7 flex">
              <Image
                class="lg:absolute lg:w-full rounded-3xl object-cover lg:max-h-none max-h-96"
                src={footerLogo}
                alt="Hero banner"

              />
            </div>
            <div class="inline-flex text-lg font-semibold text-heading-1">
              Okappi
            </div>
          </a>
          <Paragraph className={'mt-8'}>
            Estamos comprometidos a ayudar a nuestros clientes globales a tener
            éxito
          </Paragraph>
        </div>
      </div>

      <GroupFooterNav>
        <FooterNav title={'Correo electrónico'} navItems={footerCompany} />
        <FooterNav title={'Contacto'} navItems={footerNav1} />
      </GroupFooterNav>

      <GroupFooterNav>
        <FooterNav title={'Estamos ubicados'} navItems={footerSupport} />
      </GroupFooterNav>
    </div>
  </Container>
  <div class="bg-gradient-to-tl from-box-bg py-2 relative">
    <Container>
      <div
        class="flex justify-between items-center gap-6 md:text-lg text-heading-3"
      >
        <div>
          &copy; <span id="year"></span>2024 <a
            href="https://www.okappi.com.co/"
            target="_blank"
            class="font-semibold">Okappi S.A.S</a
          >
        </div>
        <div>Todos los derechos reservados.</div>
      </div>
    </Container>
  </div>
</footer>
